/* Import our framework, fonts, and minor styling changes */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Monoton&family=Racing+Sans+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Fira Code", monospace;
}

h1 {
  font-size: 3rem;
  font-weight: 750;
  padding-left: 30px;
}

#login h2 {
  font-size: 3rem;
  font-weight: 750;
}