{{!-- Create a blog post page --}}
<div class="flex flex-col justify-center items-center">
  <p class="text-4xl">Create a Blog Post</p>
  <div class="container mx-auto">

    <form class="container mx-auto new-post-form">
      <div class="ml-6 mb-3">
        <label for="title-new-post" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title-new-post" placeholder="Enter a title" />
      </div>
      <div class="mb-5">
        <label for="content-new-post" class="text-2xl form-label">Content:</label>
        <textarea class="form-control" id="content-new-post" style="height: 250px; width: 350px;"
          placeholder="Enter post text here"></textarea>
      </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Create Post</button>
  </div>
  </form>
</div>